postgres:
  image: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-16.4-0"
  version: 16

instances:
  name: "instance1"
  dataVolume:
    accessModes:
      - ReadWriteOnce
    size: 1Gi

backups:
  pgbackrest:
    image: "registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.52.1-1"
    repos:
      name: repo1
      dataVolume:
        accessModes:
          - ReadWriteOnce
        size: 1Gi

