postgres:
  image: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-16.4-0"
  version: 16

# StorageClass configuration
storageClass:
  create: true
  name: "efs-sc"
  provisioner: "efs.csi.aws.com"
  # ConfigMap configuration for EFS ID
  efsConfigMap:
    enabled: true
    name: "efs-config"
    namespace: "g11-prod"
    key: "efs-id"
  parameters:
    provisioningMode: "efs-ap"
    fileSystemId: "fs-04e421b4433438b9c"  # Fallback value if ConfigMap is not found
    directoryPerms: "700"
  reclaimPolicy: "Delete"
  volumeBindingMode: "Immediate"

instances:
  name: "instance1"
  dataVolume:
    accessModes:
      - ReadWriteOnce
    size: 1Gi
    storageClassName: "efs-sc"

backups:
  pgbackrest:
    image: "registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.52.1-1"
    repos:
      name: repo1
      dataVolume:
        accessModes:
          - ReadWriteOnce
        size: 1Gi
        storageClassName: "efs-sc"

