postgres:
  image: "registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-16.4-0"
  version: 16

# StorageClass configuration
storageClass:
  create: true
  name: "efs-sc"
  provisioner: "efs.csi.aws.com"
  parameters:
    provisioningMode: "efs-ap"
    fileSystemId: "fs-04e421b4433438b9c"  # Override with --set storageClass.parameters.fileSystemId=${efs_id}
    directoryPerms: "700"
  reclaimPolicy: "Delete"
  volumeBindingMode: "Immediate"
  # Security context for volumes using this storage class
  fsGroup: 26  # Postgres UID/GID
  fsGroupChangePolicy: "OnRootMismatch"

instances:
  name: "instance1"
  dataVolume:
    accessModes:
      - ReadWriteOnce
    size: 1Gi
    storageClassName: "efs-sc"

backups:
  pgbackrest:
    image: "registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.52.1-1"
    repos:
      name: repo1
      dataVolume:
        accessModes:
          - ReadWriteOnce
        size: 1Gi
        storageClassName: "efs-sc"

